.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* Start */
.cards-detail {
  margin-top: 30px;
}
.details {
  background-image: url("./imgs/movie-background-collage\ \(1\).jpg");
}
.header-details {
  display: flex;
  justify-content: center;
}
.header-details p {
  font-size: 35px;
  color: wheat;
}
.homepage {
  background-image: url("./imgs/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
}
.post-list {
  width: 65%;
  margin: 0px auto;
}
.header-homepage h1 {
  color: white;
}
.search-btn {
  width: 22%;
}
.btns {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}
.btn-clear {
  width: 12%;
  font-size: 15px;
  background-color: rgb(30, 125, 234);
  color: white;
  padding: 5px;
  border-color: rgb(30, 125, 234);
  border-radius: 5px;
  justify-self: flex-end;
  margin-bottom: 10px;
  margin-top: 30px;
}
.cards {
  display: inline-block;
  margin-top: 20px;
  margin: auto;
}
.card-container {
  background-color: white;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 10px;
  transition: 0.3s;
  animation: ease-in;
  border-radius: 10px;
  padding-bottom: 10px;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.image-container img {
  overflow: hidden;
  height: 310px;
  margin-top: 20px;
}
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}
h3,
h5 {
  margin: 0;
  padding: 0;
}
.card-title {
  margin-bottom: 0.5rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn .btn_list {
  margin-left: 10px;
}
.btn button {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 40%;
  border: 1px solid rgb(19, 96, 197);
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(19, 96, 197);
  color: white;
  cursor: pointer;
}
.btn-disabled {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 40%;
  border: 1px solid rgb(19, 96, 197);
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(19, 96, 197);
  color: white;
  cursor: pointer;
}
.btn-enabled {
  background-color: red !important;
  color: white !important;
  border: 1px solid red !important;
}

.btn-remove {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 40%;
  border: 1px solid rgb(19, 96, 197);
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(19, 96, 197);
  color: white;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.row {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  display: flex;
}
.cards-detail .image-container img {
  margin-left: 15px;
  margin-bottom: 10px;
}
.cards-detail .card-title {
  background-color: black;
}
.cards-detail .card-title h1 {
  color: white;
}
.cards-detail .card-body p {
  text-align: left;
  color: rgb(93, 170, 196);
}
.btn-X {
  background-color: white;
  border-color: white;
  color: red;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.filter-btn {
  display: flex;
  margin: 0px auto;
  width: 20%;
  text-align: center;
}
.title_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.title_list p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cardsList {
  background-image: url("./imgs/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 0px;
}
.mylist_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btn_back {
  margin-right: 70px;
  border: 1px solid rgb(15, 90, 172);
  padding: 7px 10px;
  background-color: rgb(15, 90, 172);
}
.btn_back p {
  color: white;
  margin: 0px;
}
.no_moviesFound {
  display: flex;
  align-self: left;
  justify-self: le;
}
.no_movies {
  margin: 0px auto;
  font-weight: bold;
  color: black;
  background-color: rgba(243, 230, 230, 0.922);
  border-radius: 5px;
  border: 1px solid rgb(126, 114, 114);
  padding: 20px 25px;
}
.mylist_row {
  width: 65%;
  display: flex;
  margin-top: 50px;
}
.mylist_row .btn_back {
  display: flex;
  align-self: flex-start;
}

/* Mobile */
@media screen and (max-width: 400px) {
  .header-homepage {
    display: flex;
    margin: 20px auto;
  }
  .search-btn {
    width: 100%;
  }
  .title_list h1 {
    width: 43%;
    font-size: 17px;
  }
  .title_list p {
    font-size: 20px;
  }
  .btn-clear {
    width: 35%;
    font-size: 13px;
    margin-top: 15px;
  }
  .card-container {
    margin: 0px;
    width: 240px;
    margin-bottom: 15px;
  }
  .image-container img {
    height: 220px;
  }
  .btn-X {
    font-size: 10px;
  }
  .card-title h3 {
    font-size: 14px;
  }
  .card-body h5 {
    font-size: 12px;
  }
  .card-body .imdb {
    font-size: 10px;
  }
  .filter-btn {
    width: 74%;
    padding: 5px 0px;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 20px;
  }
  .card-container:hover {
    transform: scale(1);
  }
  .acc_cmp{
    margin:auto;
  }
  .no_movies {
    font-size: 12px;
  }
  .mylist_row {
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
  }
  .mylist_row .btn_back {
    border-radius: 5px;
    margin-right: 0px;
  }
  .mylist_row .btn_back p {
    font-size: 14px;
  }
  .header-details {
    align-items: center;
  }
  .header-details p {
    font-size: 25px;
  }
  .btns {
    align-self: flex-start;
    margin-left: 70px;
  }
  .card-container {
    margin-top: 20px;
  }
  .row {
    width: 100%;
    border-radius: 25px;
  }
  .card-title h1 {
    font-size: 17px;
  }
  .card-body p {
    font-size: 14px;
  }
  .row .col .image-container img {
    height: 180px;
  }
}
